
*.iml

build/generated/mockable-android-25.jar

build/intermediates/dex-cache/cache.xml

.gradle/2.14.1/taskArtifacts/cache.properties

.gradle/2.14.1/taskArtifacts/fileHashes.bin

.gradle/2.14.1/taskArtifacts/taskArtifacts.bin

.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin

.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin

.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin

.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock

*.lock

.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild